/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1240px;
}

.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  height: 52px;
  /* background-color: pink; */
}

.shortcut ul {
  display: flex;
  justify-content: flex-end;
  line-height: 52px;
  font-size: 14px;
}

.shortcut a {
  padding: 0 15px;
  border-right: 1px solid #999;
  color: #FFF;
}

.shortcut li:last-child a {
  border-right: 0;
}

.shortcut li .login {
  color: #5EB69C;
}

.shortcut .iconfont {
  margin-right: 4px;
  vertical-align: middle;
  font-size: 16px;
}


